%td{:nowrap => 'nowrap'}
  %a{:href => ticket_url(ticket)}= "##{h(ticket.number)}"
%td{:width => '100%'}
  = h(ticket.summary)
%td{:nowrap => 'nowrap'}
  = h(ticket.reporter_name)
%td{:nowrap => 'nowrap'}
  = h(ticket.assignee_name)
%td{:nowrap => 'nowrap'}
  = relative_date(ticket.updated_at.to_s)
