- @title = @ticket.summary

#ticket
  %h3= h(@ticket.summary)

  %table.tickets{ :cellpadding => 0, :cellspacing => 0 }
    %thead
      %tr
        %th No.
        %th Summary
        %th Reporter
        %th Assignee
        %th Updated
    %tbody
      %tr{:class => "odd#{' unassigned' if !@ticket.assigned?}"}
        = partial('ticket_row', :locals => {:ticket => @ticket})
  
  %h4 Description
  
  %p.description
    = convert_breaks(h(@ticket.description))
    
  %h4 Comments
  
  - @ticket.comments.each_with_index do |comment, index|
    .comment
      .header
        %span.name
          = h(comment.commenter_name)
        %span.date
          = relative_time(comment.created_at)
      .body
        %p
          = convert_breaks(h(comment.body))
      

  