- @title = @ticket.summary

#ticket
  - if request.cookies['notice'] == 'comment_success'
    .success
      Comment added successfully.
  - elsif request.cookies['notice'] == 'comment_error'
    .error
      Error adding your comment. Please try again or contact IT.

  %h3= h(@ticket.summary)
  
  - reset_cycle
  
  %table.ticket_info{:cellpadding => 0, :cellspacing => 0}
    %tbody
      %tr{:class => "#{@ticket.out_of_bounds? ? 'out-of-bounds ' : (!@ticket.assigned? ? 'unassigned ' : nil)}#{cycle}"}
        %th
          No.
        %td
          = "##{h(@ticket.number)}"
      %tr{:class => "#{@ticket.out_of_bounds? ? 'out-of-bounds ' : (!@ticket.assigned? ? 'unassigned ' : nil)}#{cycle}"}
        %th
          Reporter
        %td
          = h(@ticket.reporter_name)
      %tr{:class => "#{@ticket.out_of_bounds? ? 'out-of-bounds ' : (!@ticket.assigned? ? 'unassigned ' : nil)}#{cycle}"}
        %th
          Assignee
        %td
          = h(@ticket.assignee_name)
      %tr{:class => "#{@ticket.out_of_bounds? ? 'out-of-bounds ' : (!@ticket.assigned? ? 'unassigned ' : nil)}#{cycle}"}
        %th
          Due
        %td
          - if @ticket.due_on
            = relative_date(@ticket.due_on)
            = "(#{@ticket.due_on.to_s})"
      %tr{:class => "#{@ticket.out_of_bounds? ? 'out-of-bounds ' : (!@ticket.assigned? ? 'unassigned ' : nil)}#{cycle}"}
        %th
          Updated
        %td
          = relative_date(@ticket.updated_at.to_s)
  
  %h4 Description
  
  %p.description
    = convert_breaks(h(@ticket.description))
    
  %h4 Comments
  
  - @ticket.comments.each_with_index do |comment, index|
    .comment
      .header
        %span.name
          = h(comment.commenter_name)
        %span.date
          = relative_date(comment.created_at.to_s)
      .body
        %p
          = convert_breaks(h(comment.body))
          
  %h4 Submit Your Comment
  
  #new-comment
    %form{:action => "/tickets/#{@ticket.number}/comments", :method => 'post'}
      %input{:type => 'hidden', :name => 'ticket_id', :value => @ticket.id}/
      .fields
        %fieldset
          .field
            %label{:for => 'name'} Name
            %input{:type => 'text', :name => 'name', :value => request.cookies['name']}/
      .field-help
        .help
          %p
            We'll remember this for next time.
      .fields
        %fieldset
          .field
            %label{:for => 'body'} Comment
            %textarea{:name => 'body'}
          .field
            %input{:type => 'submit', :value => 'Submit'}/
      .field-help
        .help
          %p
            Update us on the status of your issue here. Please notify us quickly about any new information or changes. This will help us address the issue faster.