- @title = 'All Tickets'

#tickets
  - if request.cookies['notice'] == 'ticket_success'
    .success
      Ticket added successfully.
  - elsif request.cookies['notice'] == 'ticket_error'
    .error
      Error adding your ticket. Please try again or contact IT.
  
  / Ideally this goes in a 'before_filter' in the actual app.
  - clear_cookie('notice')
  
  %h1
    Helpdesk Tickets
  #buttons
    %ul
      %li
        %a{ :href => '/tickets/new' } <span>New Ticket</span>

  - @ticket_report.ticket_groups.each do |group|
  
    .component
      %h3= "#{h(group.title)} (#{group.tickets.length})"
      
      %table.tickets{ :cellpadding => 0, :cellspacing => 0 }
        %thead
          %tr
            %th No.
            %th Summary
            %th Reporter
            %th Assignee
            %th Updated
        %tbody
          - reset_cycle
          - group.unassigned_tickets.each do |ticket|
            %tr{:class => "#{ticket.out_of_bounds? ? 'out-of-bounds' : 'unassigned'} #{cycle}"}
              = partial('ticket_row', :locals => {:ticket => ticket})
              
          - group.assigned_tickets.each do |ticket|
            %tr{:class => cycle}
              = partial('ticket_row', :locals => {:ticket => ticket})