!!! Strict
%html{:xmlns =>'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %title= "Helpdesk Tickets - #{@title}"
    = stylesheet_link_tag 'application', :media => 'all'
    = yield :stylesheet_includes
    = yield :javascript_library_includes
    = yield :javascript_includes
    = yield :rss_includes

  %body
    #header
      %h1 Helpdesk Tickets

    #wrapper
      #content
        %h1= @title
        = yield

    #sidebar
      = yield :sidebar